.footer {
  text-align: center;
  padding: 25px;
}

.footer h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #49416d;
}

.footer a {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #49416d;
}

.footer a:hover {
  opacity: 0.8;
}

.footer a:focus {
  opacity: 0.8;
}

.footer a:active {
  opacity: 0.8;
}
