.input {
    width: 100%;
    min-height: 100px;
    padding: 20px;
    resize: none;
    border-radius: 6px;
    color: #0F0F0F;
    font-family: inherit;
    font-weight: 400;
    border: none;
    background-color: #F7F4EA;
    margin-bottom: 12px;
}
