.nav {
  color: rgba(15, 15, 15, 1);
  padding: 12px 22px;
  width: 170px;
  background: #f7f4ea;
  border-radius: 0 0 0 6px;
  border-right: 1px solid #bcabae;
}

.nav a:focus {
  outline: none;
}

.nav:last-of-type {
  border-radius: 0 6px 6px 0;
  border-left: 1px solid #bcabae;

  @media (max-width: 370px) {
    border-radius: 0 0 6px 0;
  }
}
.nav h3 {
  font-size: 1.4rem;
}

.nav a {
  width: 100%;
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.nav a:hover {
  opacity: 0.8;
}

.nav a:focus {
  opacity: 0.8;
}

.nav a:active {
  opacity: 0.6;
}
