.buttonContainer button {
    min-width: 565px;
    margin-bottom: 30px;

    @media (max-width: 700px) {
        min-width: 100%;
      }
}

.popupContainer {
  min-height: 325px;
  opacity: 0;
}

.popupContainerVisible {
  opacity: 1;
  transition: opacity 3s;
}