.button {
  padding: 12px;
  width: 40%;
  background: #ee6352;
  border-radius: 6px;
  border: none;
  color: #f7f4ea;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-family: inherit;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.253);
  cursor: pointer;
  text-transform: uppercase;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
}

.button:disabled {
    pointer-events: none;
    background-color: #706567;
  }
  
  