.verifyForm {
    min-width: 565px;
    margin: 0 auto;
    background-color: #49416D;
    border-radius: 18px;
    padding: 20px;
    flex: 1;
    margin-bottom: 30px;

    @media (max-width: 700px) {
        min-width: 100%;
      }
}

.verifyForm h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: start;
    text-transform: uppercase;
}
